<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/ENEE439d-TEXTML/TextML/blob/master/input.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/ENEE439d-TEXTML/TextML/blob/master/input.ipynb"><img src="https://www.tensorflow.org/images/GitHub-Mark-32px.png" />View source on GitHub</a>
  </td>
</table>

## Data input and ecoding testing

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import tensorflow as tf
from tensorflow import keras
from keras import layers

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
filepath = '/content/drive/MyDrive/ml-data/data.csv' #'data.csv'
df= pd.read_csv(filepath)
df.head()

,no,paper,cited_paper,label,text
0,0,A00-1043,A00-2024,0,We analyzed a set of articles and identified s...
1,1,H05-1033,A00-2024,0,Table 3: Example compressions Compression AvgL...
2,2,I05-2009,A00-2024,0,5.3 Related works and discussion Our two-step ...
3,3,I05-2009,A00-2024,0,(1999) proposed a summarization system based o...
4,4,I05-2009,A00-2024,0,We found that the deletion of lead parts did n...

In [9]:
df.keys()

Index(['no', 'paper', 'cited_paper', 'label', 'text'], dtype='object')

In [10]:
df1=df.drop(['no','paper'],axis=1)
df1.head()

  cited_paper  label                                               text
0    A00-2024      0  We analyzed a set of articles and identified s...
1    A00-2024      0  Table 3: Example compressions Compression AvgL...
2    A00-2024      0  5.3 Related works and discussion Our two-step ...
3    A00-2024      0  (1999) proposed a summarization system based o...
4    A00-2024      0  We found that the deletion of lead parts did n...

In [11]:
import pprint
pp= pprint.PrettyPrinter()

In [49]:
context=df1['text']
pp.pprint(context[0])
pp.pprint(context[1])
pp.pprint(context[2])
pp.pprint(context[3])
pp.pprint(context[4])

('We analyzed a set of articles and identified six major operations that can '
 'be used for editing the extracted sentences, including removing extraneous '
 'phrases from an extracted sentence, combining a reduced sentence with other '
 'sentences, syntactic transformation, substituting phrases in an extracted '
 'sentence with their paraphrases, substituting phrases with more general or '
 'specific descriptions, and reordering the extracted sentences (Jing and '
 'McKeown, 1999; Jing and McKeown, 2000).')
('Table 3: Example compressions Compression AvgLen Rating Baseline 9.70 1.93 '
 'BT-2-Step 22.06 3.21 Spade 19.09 3.10 Humans 20.07 3.83 Table 4: Mean '
 'ratings for automatic compressions nally, we added a simple baseline '
 'compression algorithm proposed by Jing and McKeown (2000) which removed all '
 'prepositional phrases, clauses, toinfinitives, and gerunds.')
('5.3 Related works and discussion Our two-step model essentially belongs to '
 'the same category as the works of (Mani et al. , 1999) and (Jing and '
 'McKeown, 2000).')
('(1999) proposed a summarization system based on the draft and revision. Jing '
 'and McKeown (2000) proposed a system based on extraction and cut-and-paste '
 'generation. Our abstractors performed the same cut-and-paste operations that '
 'Jing and McKeown noted in their work, and we think that our two-step model '
 'will be a reasonable starting point for our subsequent research.')
('We found that the deletion of lead parts did not occur very often in our '
 'summary, unlike the case of Jing and McKeown (2000).')

Assumption one for citations, ciations are wrapped in paraenthases

In [56]:
# for cit in context[0:100]:
#   pp.pprint(cit)

In [13]:
import re

In [14]:
pattern=re.compile("(\(((\w+ *)+(\.* )*\,+ \d+)+\))")
print(pattern.split(context[2]))

['5.3 Related works and discussion Our two-step model essentially belongs to the same category as the works of ', '(Mani et al. , 1999)', 'Mani et al. , 1999', 'al', '. ', ' and ', '(Jing and McKeown, 2000)', 'Jing and McKeown, 2000', 'McKeown', None, '.']

In [15]:
test="the same category as the works of (Mani et al. , 1999) and (Jing and McKeown, 2000)."
pattern=re.compile("\((((\w+ *)et al\. )|((\w+ *)and (\w+ *))), \d+\)")
it=pattern.findall(context[2])
print(it)

[('Mani et al. ', 'Mani et al. ', 'Mani ', '', '', ''), ('Jing and McKeown', '', '', 'Jing and McKeown', 'Jing ', 'McKeown')]

ok this is annoying lets check out the full embeddings of word2vec etc

In [29]:
re_et_al= "(\w+ *)et al\. ?, \d{4}" # matches author et al. , year
re_two_auth= "(\w+ *)and ((\w+ *))?, \d{4}" # matches author and author, year
re_repeates =
p1= re.compile(re_et_al)
a=p1.search(context[2])
print(a)

<re.Match object; span=(110, 128), match='Mani et al. , 1999'>

In [26]:
re1= "(\((\w+ *)and ((\w+ *))?, \d+\))" # matches author and author, year
p1= re.compile(re1)
a=p1.search(context[2])
print(a)
print(a.span())
print(context[2])
p1.split(context[2])[0]

<re.Match object; span=(134, 158), match='(Jing and McKeown, 2000)'>
(134, 158)
5.3 Related works and discussion Our two-step model essentially belongs to the same category as the works of (Mani et al. , 1999) and (Jing and McKeown, 2000).

'5.3 Related works and discussion Our two-step model essentially belongs to the same category as the works of (Mani et al. , 1999) and '

In [45]:
re1= "\(((([A-Za-z]+ *)+(, \d+))+(; )*)+\)" # matches author and author, year
re_year=",? \(?\d{4}\)?" # match , {4 digits} which may be wrapped in () 
re_et= "(\w+ *)et al\. ?"+re_year # matches author et al. , year
re_2a= "(\w+ *)and ((\w+ *))?"+re_year # matches author and author, year
re_sep="((; )|( and ))*"# match the '; ' gap or ' and ' gap
re_apa ="\(?("+"(\(?"+re_2a+"|"+re_et+"\)?)"+re_sep+")+"
p1= re.compile(re_apa)
a=p1.search(context[0])
print(a)
a=p1.search(context[2])
print(a)
#p1= re.compile(re_2a)
a=p1.search(context[4])
print(a)

<re.Match object; span=(437, 485), match='(Jing and McKeown, 1999; Jing and McKeown, 2000)'>
<re.Match object; span=(109, 158), match='(Mani et al. , 1999) and (Jing and McKeown, 2000)>
<re.Match object; span=(101, 124), match='Jing and McKeown (2000)'>

In [48]:
s=context[2]
print(s)
print(s[0:15])
print(s[30:-1])

5.3 Related works and discussion Our two-step model essentially belongs to the same category as the works of (Mani et al. , 1999) and (Jing and McKeown, 2000).
5.3 Related wor
on Our two-step model essentially belongs to the same category as the works of (Mani et al. , 1999) and (Jing and McKeown, 2000)

In [95]:
def remove_citation(text,regex=re_apa):
  text1=text
  rem_len=0
  pattern= re.compile(regex)
  while True:
    matches=pattern.search(text1)
    # print(matches)
    if matches == None:
      break

    spn=matches.span()
    text1=text1[0:spn[0]]+text1[spn[1]:-1]
    cit_len=spn[1]-spn[0]
    rem_len+=cit_len
  
 # percent_removed=rem_len/len(text)
  return text1#,percent_removed 

remove_citation(context[5],regex=re_apa)

'Automatic text summarization approaches have offered reasonably well-performing approximations for identifiying important sentences Daume  but, not surprisingly, text (re)generation has been a major challange despite some work on sub-sentential modification '

In [96]:
df1['text']=df1['text'].apply(lambda x: remove_citation(text=x)) #df['col1'] = df.apply(lambda x: complex_function(x['col1']), axis=1)